<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Create employee page</title>
</head>
<body>
<form name= "employee"  method="POST" th:action="@{/addEmployee}">
    <input type="text" placeholder="Имя" required name="firstName">
    <input type="text" placeholder="Фамилия" required name="lastName">
    <input type="text" placeholder="№ отдела" required name="departmentId">
    <input type="text" placeholder="Должность" required name="jobTitle">
    <input type="text" placeholder="День Рождения (гггг-мм-дд)" required name="dateOfBirth">
    <input type="submit" value="OK">
</form>

</body>
</html>